
@keyframes escribir {
    from { 
        width: 90% 
    }
    to { 
        width:0
    }
    
}


@keyframes arrow{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(-10px, -10px)
    }
}
  

@keyframes fadeIn {
    0% {
        opacity:0;}

    100% {visibility: visible;
        opacity:1;}
    
  }


    %tarjetaPubli{
    position: relative;
    cursor:pointer;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(26,63,79, 0.9);
        transform: scale(0);
        transition: transform .7s;
        color: whitesmoke;
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: $font-size-boton-sm;
        font-family: map-get($map: $fontFamily, $key: special );
    }
    &:hover::before{
        transform: scale(1) ;
    }

    
}
