
// Declaramos nuestro mapa con los valores de las 4 redes que queremos usar
$redes: (
	twitter: #51aff8,
	facebook: #2956a3,
	//linkedin: #0076b8,
	instagram: #B63184
);

@each $red, $color in $redes {
    .red--#{$red} {
        background: #4b4c4d;
        &:hover {
            background: $color;
            .red__nombre {
                color: $color;
            }
        }
    }
}


.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(26,63,79);

    // -------------- Logo Footer --------------
    .logo{

        @media screen and (min-width: $bp-xl){
            margin-left: 10vw;
            height: 100%;
        }   
        a{
            @media screen and (min-width: $bp-xl){
                ;

            }   
        }

    }
    
    // -------------- Links Navegacion entre páginas --------------
    .listPaginas{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2,1fr) ;
        list-style: none;
        line-height: 1.6;
        text-decoration: none;
        text-align: center;
        font-family: map-get($map: $fontFamily, $key: text );
        font-size: $font-footer-size-m;
        .listPaginas__titulo{
            grid-column: 1/3;
            color: whitesmoke;
            
            @media screen and (min-width: $bp-med-s){
                font-size: $font-footer-size-m;
            }
            
            @media screen and (min-width: $bp-xl){
                font-size: $font-footer-size-l;
            }   
        }
        #contactoNav{
            grid-column: 1/3;
        }

        @media screen and (min-width: $bp-med-s){
            font-size: $font-footer-size-m;
        }
        
        @media screen and (min-width: $bp-xl){
            font-size: $font-footer-size-l;
        }   

        a{
            font-size: $font-NavFooter-size-m;
            color: whitesmoke;
            text-decoration: none;
            opacity: 0.3;
            transition: .5s ease;

            &:hover{
                opacity: 1;
                transform: scale(1.3,1.3);
            }
        }

    
    }      

    // -------------- Links REDES SOCIALES --------------
    .social{
        text-align: center;
        padding-top: 1.5em;
        color: whitesmoke;


        a{
            font-size: 1em;
            color:inherit;
            line-height: 1.3em;
            display: inline-block;
            align-items: center;
            margin: 0 8px;
            opacity: 0.9;

            &:hover{
                opacity: 0.9;
                transform: scale(1.3,1.3);
            }


            /*@media screen and (min-width: $bp-small-2){
                font-size: 20px;
            }*/
            
            @media screen and (min-width: $bp-med-s){
                font-size: $font-NavFooter-size-m;
            }
        
            @media screen and (min-width: $bp-xl){
                display: flexbox;
                justify-content: center;
                flex-direction: row;
                font-size: $font-NavFooter-size-l;
                padding: 0;
                margin-right: 8vw;
            }
        }
    }

    @media screen and (min-width: $bp-med-s){
        flex-direction: row;    
    }

    @media screen and (min-width: $bp-xl){
        flex-direction: row;    
    }
}

