@font-face {
    font-family: Andralis;
    font-weight: regular;
    src: url("../assets/Tipografías/Andralis_ND/Andralis_ND_OsF_Regular.otf") format("opentype");
  }
  @font-face {
    font-family: HKGrotesk;
    font-weight: regular;
    src: url("../assets/Tipografías/Hk_Grotesk/HKGrotesk-Regular.otf") format("opentype");
  }
  @font-face {
    font-family: Nagoda;
    font-weight: regular;
    src: url("../assets/Tipografías/Nagoda/Nagoda.otf") format("opentype");
  }


