// BreakPoints
$bp-small: 320px;
// $bp-small-2: 480px;
$bp-med-s: 600px;
// $bp-med: 768px;
// $bp-large: 1024px;
$bp-xl: 1200px;

// Variables footer
$font-footer-color: rgb(229,228,228);
$font-footer-family: Andralis;


// Botones
$font-boton-color: rgb(0,30,30);

// Animaciones
$tiempo-anim: 1s;
$tiempo-delay: 1.2s;

// ---------------- TIPOGRAFIA ---------------- 

// Familias
$font-footer-family: Andralis;
$font-text-family: HKGrotesk;
$font-special-family: Nagoda;

$fontFamily: (
  titulo: Andralis,
  text: HKGrotesk,
  special: Nagoda,
);

// Tamaños letras footer
$font-footer-size-sm: 1rem;
$font-footer-size-m: 1.2rem;
$font-footer-size-l: 1.4rem;

// Tamaños letras Botones
$font-size-boton-sm: 1.563rem;
$font-size-boton-ms: 1.7rem;
$font-size-boton-xl: 1.8rem;

// Tamaños títulos
$font-titulo-size-sm: 1.8rem;
$font-titulo-size-m: 2rem;
$font-titulo-size-l: 2.2rem;

// Tamaños parrafos
$font-texto-size-s:1rem;
$font-texto-size-m:1.2rem;
$font-texto-size-l:1.4rem;


// Tamaños links
// Nav header
$font-NavHeader-size-sm: 1rem;
$font-NavHeader-size-m: 1.2rem;
$font-NavHeader-size-l: 1.4rem;


// Nav footer
$font-NavFooter-size-sm: 1rem;
$font-NavFooter-size-m: 1.2rem;
$font-NavFooter-size-l: 1.4rem;


// ------------------- COLORES -------------------
$color-bg-banner1:#468AA5;
$color-bg-footer: rgb(26,63,79);
$color-bg-footer-rgb: 26,63,79;


// ------------------- IMAGENES PUBLICACIONES -------------------

$img1 : url("../assets/img/cieloPeligroso.jpg");
$img2 : url("../assets/img/mama.jpg");
$img3 : url("../assets/img/laPlata.jpg");
$img4 : url("../assets/img/mantis.jpg");
$img5 : url("../assets/img/fantasía.jpg");
$img6 : url("../assets/img/Excidio.jpg");
$img7 : url("../assets/img/paladin.jpg");
$img8 : url("../assets/img/aparato.jpg");


// 

%fondoTitulos{ 
  
  background-size: cover;
  
  
 h1{     
  position:relative;
  z-index: 10000;
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255,255,255,0.18);
  border: 1px solid rgba(255,255,255,0.18);      
  font-family: map-get($map: $fontFamily, $key: special );
  text-align:center;
  padding: 10vh;
  
  text-shadow: 0.2em 0.2em 0.5em whitesmoke;
  @media screen and (min-width: $bp-med-s){
      margin-bottom: 5vh;;
      background-color: rgba(255,255,255,0.3);
      box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
      backdrop-filter: blur(2px);
      border: 1px solid rgba(255,255,255,0.18);
  }

 }
}
