@import "variables";
@import "tipografia";
@import "animaciones";
@import "banners";
@import "footer";
@import "formulario";
@import "galeriaPublis";
@import "eventos";
@import "conocenos";
@import "contacto";


// Links navegacion 
a {
    font-family: map-get($map: $fontFamily, $key: titulo );
    list-style: none;
    font-size: 1rem;
    color: whitesmoke;
    margin: 0.4vw;
    padding: 0.4vw;

    @media screen and (min-width:768px) {
        font-size: 1.5rem;
    }
    @media screen and (min-width:1200px) {
        font-size: 3rem;
    }
  }

  .trilce_name {
    font-family: map-get($map: $fontFamily, $key: special );
    font-stretch: semi-expanded;
    font-size: 17px;
    
    @media screen and (min-width:768px){
        font-size: 22px;
    }
    @media screen and (min-width:1200px){
        font-size: 35px;
        
    }

  }


body { 
    max-width: auto;
    overflow:auto;
    font-family: map-get($map: $fontFamily, $key: text );

    //background-position-y: 45%;
    //background-size: auto;
    //background-repeat: no-repeat;


    // ------------------ Primer Seccion -----------------   
    main{
        display: flexbox;
        position: relative;
        direction: column;
        justify-content: center;
        width: 100%;
        margin: 0vh 0vw;

        .primerSeccion{
        /*    background-image: url("/assets/img/Fondo_main_compu4.jpg");
            background-position: center;
            background-position-y: -5vh ;
            background-size:  cover;
            background-repeat: no-repeat;*/
            display: flex;
            flex-direction: column;
            position: relative;
            margin: 1vh 0vw;       
            font-size: 0.191em;
            border: 1px transparent;
            border-radius: 0.3rem;
            padding: 5vh 2vw;
            background-color: rgba(250,250,250,0.5);
            width: 100wv;

            @media screen and (min-width: $bp-med-s){
                background-position-y: -8vh ;
                margin: 5vh 0vw;
                width: 100vw;
                min-height: 75vh;
            }
            
                            
            @media screen and (min-width: $bp-xl){
                background-size: 150vw;
                background-position-y: -15vh ;
                
            }


            .primerSeccion__titulo{
                display: flex;
                justify-content: center;
                margin-top: 12vh;
                
                h3{
                    font-family: map-get($map: $fontFamily, $key:special );
                    font-size: $font-titulo-size-sm;

                    
                    @media screen and (min-width: $bp-med-s){
                        font-size: $font-titulo-size-m;
                        line-height: 1rem ;
                        max-width: 60vw;
                    }
                
                    @media screen and (min-width: $bp-xl){
                        font-size: $font-titulo-size-l;
                        margin: 0 0vw;
                    }
                }
            }


            .primerSeccion_texto{
                margin-top: 6vh;
                
                max-width: 100%;
                display: flex;
                justify-content: center;

                p{
                    font-family: map-get($map: $fontFamily, $key: text );
                    text-align: justify;
                    font-size: 6em;
                    line-height: 1.5em;
                                        
                    @media screen and (min-width: $bp-med-s){
                        font-size: $font-texto-size-m;
                        line-height: 1.8rem ;
                        max-width: 40vw;
                    }
                
                    @media screen and (min-width: $bp-xl){
                        font-size: $font-texto-size-l;
                        line-height: 2em;
                    }
                }
                
                @media screen and (min-width: $bp-med-s){
                    margin-bottom: 4vh;

                }
            }
        }

    // ------------------ Segunda Seccion ------------------

        .segundaSeccion{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
            width: 100%;
            height: auto;
            margin: 0px 0px;

            .segundaSeccion__categoria{
                margin:2px 2px;
                width: 100%;
                position: relative;
                text-align: center;
                overflow: hidden;
                height: auto;
                font-size: 0;

                @media screen and (min-width: $bp-med-s){
                    width: 45%;
                    margin: 2px 2px;
                }

                
                
            }

            img{
                transition: all 1s;
                width: 100%;
                overflow: hidden;
            }


            // ---- En este punto no pude colocar efecto hover sobre los botones ----
            .categoria__boton{
                color: white;
                position: absolute;
                border: solid 0.1rem white;
                padding: 0.2rem 1rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: map-get($map: $fontFamily, $key: titulo );
                font-size: 1.563rem;
                letter-spacing: 2px;
                cursor:pointer;
                background-color: rgb(0,0,0,0.7);
                backdrop-filter: blur(10px);
                               
                a{
                    text-decoration: none;
                    transition: .5s ease;
                    &:hover{
                        transform: scale(1.8,1.8);
                        font-size: 1.2;
                        
                    }
                }          
            }
            
            @media screen and (min-width: $bp-med-s){
                font-size: $font-size-boton-ms;
                flex-direction: row;
                margin: 5px 0px;

            }
            
            @media screen and (min-width: $bp-xl){
                font-size: $font-size-boton-xl;
            }
        }
    }


    
    @media screen and (min-width: $bp-med-s){
        background-position: -1000px -350px;
    }

    @media screen and (min-width: $bp-xl){
        background-size: 100vw;
        background-position: 0 10px;
    }



}

/* change the background color */
.navbar-custom {
    background-color: #ff5500;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:focus .nav-link,
.navbar-light .nav-item:hover .nav-link {
        color: #ffffff;
}